.main{
    width: calc(100vw - 512px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-weight: 700;
    font-size: 48px;
}

@media(max-width: 1040px) {
    .title{
        font-size: 33px;
    }
}

@media(max-width: 767px) {
    .title{
        font-size: 24px;
    }

    .main{
        width: 100vw;
    }
}