.container{
    margin-top: 32px;
}

.select{
    height: 40px !important;
    width: 234px !important;
    border-color: rgba(0, 0, 0, 0.08) !important;
    color: rgba(0, 0, 0, 0.64) !important;
}

.input{
    border-color: rgba(0, 0, 0, 0.48) !important;
}

@media(max-width: 1040px) {
    .select{
        width: 100% !important;
    }
}

@media(max-width: 991px) {
    .container{
        margin-top: 16px;
        width: calc(100vw - 35vw);
    }
}

@media(max-width: 767px) {
    .container{
        margin-top: 16px;
        width: calc(100vw - 35vw);
    }
}

@media(max-width: 360px) {
    .container{
        margin-top: 16px;
        width: calc(100vw - 10vw);
    }
}